<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="4.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net45" />
  <package id="MobileAppServer" version="2.0.48" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SocketAppServer.Client" version="2.1.13.1303" targetFramework="net45" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net45" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net45" />
</packages>